.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    box-shadow: 4px 4px 12px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to right, #f5fcff, #7ad7f0, #f5fcff);
    border-radius: 500px;
    position: fixed;
    top: 1;
    z-index: 1;
    margin-top: .5%;
    margin-bottom: 2%;
}

.header>.left-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header>.left-container>p {
    color: rgb(0, 119, 255);
    background: linear-gradient(to right, #f5fcff, #7ad7f0, #f5fcff);
    padding: 1%;
    border-radius: 50px;
}