.div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div>li {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.div>li>p {
    font-size: 2vmin;
    font-weight: 900;
    text-align: center;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes myAnimation {
    0% {
        transform: translateX(0);
        color: rgb(0, 140, 255);
    }

    30% {
        transform: translateX(-20%);
        color: rgb(0, 255, 128);
    }

    80% {
        transform: translateX(20%);
        color: rgb(255, 123, 0);
    }

    100% {
        transform: translateX(0);
        color: rgb(0, 140, 255);
    }
}

.div>li>div>button {
    font-size: large;
    font-weight: 900;
    width: 100px;
}

.div>img {
    width: 30%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 0 #d1d1d1;
}

audio::-webkit-media-controls-play-button {
    transform: scale(2);
}

audio::-webkit-media-controls-panel {
    /* background-color: #00fcef; */
    width: 100%;
}

audio {
    width: 100%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.specificButton {
  padding: .2% 1.5%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}