.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    box-shadow: 4px 4px 12px 20px rgba(0, 0, 0, 0.05);
    background: #fff;
    position: fixed;
    top: 1;
    z-index: 1;
    margin-top: .5%;
    margin-bottom: 2%;
}

.left-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-container>img {
    margin-right: 10%;
    cursor: pointer;
}

.left-container>.menu-bar {
    display: flex;
    gap: 5%;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.left-container>.menu-bar>p {
    position: relative;
}

.left-container>.menu-bar>p>b {
    font-size: small;
    color: red;
    position: absolute;
    top: -10px;
    right: -25px;
}

.right-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.right-container>.search {
    width: 50%;
    background: #f5f5f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}

.right-container>.search>input {
    width: 100%;
    height: 30%;
    padding: 2%;
    background: transparent;
    border: none;
    outline: none;
}

.right-container>.option-div {
    display: flex;
    justify-content: space-around;
    gap: 15%;
}

.right-container>.option-div>.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.left-container>.menu-bar>p:hover,
.right-container>.option-div>.option:hover,
.right-container>.search:hover img {
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(180deg);

}

.right-container>.option-div>.option>p {
    font-weight: 700;
}