@import "tailwindcss";

* {
  overflow: hidden;
  scrollbar-width: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: cursive;
  font-size: medium;
}

button,
input {
  padding: .2% 1.5%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
}

button:hover,
input:hover {
  color: white;
  background-color: rgb(95, 158, 160);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

input[type="file"]::file-selector-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}