.header {
    width: 100%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header>h1 {
    font-size: 3vmin;
    font-weight: 900;
    background-image: linear-gradient(45deg, #00aeff, #ee3bc1 50%, #00ff80 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main>.body {
    height: 80%;
    display: flex;
    flex-direction: row;
}