.main {
    margin: 0;
    display: grid;
    place-items: center;
}

.main>h1 {
    color: white;
    background-color: rgb(0, 112, 75);
    padding: 1%;
    border-radius: 10%;
    font-size: large;
    font-weight: 900;
}

.form {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
}

form>div>input {
    background-color: rgb(0, 0, 0);
    border-radius: 5%;
    text-align: center;
}

form>div>button {
    padding: 2%;
    cursor: grab;
    box-shadow: 0 0 8px rgb(219, 0, 0);
}

form>div>button:hover {
    box-shadow: 0 0 8px rgb(0, 135, 219);
}