.list {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-right: 1px solid black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    overflow: scroll;
}

.list>h1 {
    font-size: 3vmin;
    font-weight: 900;
    color: rgb(0, 132, 255);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    letter-spacing: 20px;
}

.list>ul {
    overflow: scroll;
    font-size: medium;
    font-weight: 900;
}

.list>ul>li {
    padding: 5%;
    background-color: white;
    color: black;
    border-right: 2px solid rgb(51, 255, 0);
    border-left: 2px solid rgb(255, 1, 1);
    border-bottom: 1px solid blue;
    border-top: 1px solid rgb(217, 255, 0);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.list>ul>li:hover {
    background-color: rgb(231, 231, 231);
}