.product-container {
    width: 100%;
    /* padding: 0 1%; */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 5%;
}

.product-container>p {
    width: fit-content;
    font-weight: 900;
    font-size: 2vmin;
    letter-spacing: 30%;
}

.product-container>.product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: flex-start;
    border-top: 4px solid #ddd;
    padding: 2%;
}

.product-container>.product-list>.product-card {
    width: 15%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    background: #fff;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 5%;
}

.product-container>.product-list>.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 12px 10px rgba(0, 0, 0, 0.05);
}

.product-container>.product-list>.product-card>img {
    width: 100%;
    height: auto;
    align-self: center;
}

.product-container>.product-list>.product-card>.product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.product-container>.product-list>.product-card>.product-info>.category-tag {
    font-size: 0.7rem;
    font-weight: 700;
    color: #8e8e8e;
    text-transform: uppercase;
}

.product-container>.product-list>.product-card>.product-info>.product-title {
    width: 100%;
    font-weight: 700;
    color: black;
    margin: 2% 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-container>.product-list>.product-card>.product-info>.product-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.product-container>.product-list>.product-card>.product-info>.product-footer>.price {
    font-weight: 700;
    font-size: 1.1rem;
}

.product-container>.product-list>.product-card>.product-info>.product-footer>.buy-button {
    width: 30%;
    background: #f5f5f6;
    border: none;
    padding: 2% 0;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.product-container>.product-list>.product-card:hover>.product-info>.product-footer>.buy-button {
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(180deg);
}