.slider-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.slider-container>.click-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin-top: 1%;
}

.slider-container>.click-section >img:hover{
    cursor: grab;
}