.phone_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-top: 3%;
}

.phone_container>p {
    width: fit-content;
    font-weight: 900;
    font-size: 2vmin;
    letter-spacing: 30%;
}

.phone_container>.product-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    border-top: 4px solid #ddd;
    padding: 2%;
    gap: 5%;
}

.phone_container>.product-list>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-top: 2%;
    border-radius: 10%;
    border: 10px solid transparent;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.05);
    padding: 2%;
}

.phone_container>.product-list>div>.title {
    margin-top: 5%;
    font-weight: 900;
}

.phone_container>.product-list>div:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 12px 10px rgba(0, 0, 0, 0.05);
}

.phone_container>.product-list>div>.description {
    font-size: small;
    margin-top: 5%;
    font-weight: 900;
    color: gray;
    text-align: center;
}

.phone_container>.product-list>div>.buy-button {
    width: 30%;
    background: #f5f5f6;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10%;
    padding: 5%;
    font-weight: 900;
    color: rgb(0, 81, 255);
}

.phone_container>.product-list>div>.buy-button:hover {
    transform: scale(1.1);
}