.phone_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-top: 3%;
}

.phone_container>p {
    width: fit-content;
    font-weight: 900;
    font-size: 2vmin;
    letter-spacing: 30%;
}

.phone_container>.product-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    border-top: 4px solid #ddd;
    padding: 2%;
}

.phone_container>.product-list>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    border-radius: 10%;
    border: 10px solid transparent;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.05);
}

.phone_container>.product-list>div>.title {
    margin-top: 5%;
    font-weight: 900;
}

.phone_container>.product-list>div:hover {
    transform: translateY(-5px);
    border: 10px solid #ddd;
}

.phone_container>.product-list>div>.description {
    margin-top: 5%;
    font-weight: 900;
    color: gray;
    text-align: center;
}

.phone_container>.product-list>div>.buy-button {
    width: 30%;
    background: #f5f5f6;
    border: none;
    padding: 2% 0;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.phone_container>.product-list>div>.buy-button {
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(180deg);
}