@import "tailwindcss";

* {
  transition: all ease 1s;
  scrollbar-width: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(53, 53, 53);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}