@import "tailwindcss";

* {
  overflow: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  transition: all ease .5s;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 900;
  backdrop-filter: blur(5px);
  user-select: none;
}

a {
  color: rgb(238, 255, 0);
  font-weight: 900;
}

a:hover {
  color: rgb(136, 255, 0);
}


.MuiInputBase-input {
  color: rgb(255, 251, 251);
}

.MuiInputLabel-root {
  color: rgb(255, 230, 0);
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white;
  border-radius: 500px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(0, 255, 149);
}

.MuiCheckbox-root.Mui-checked {
  color: yellow;
  accent-color: yellow;
}

button:hover,
img:hover {
  cursor: pointer;
}