.user-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 10%;
    color: white;
    padding: 2%;
}

.user-details>.tooltip {
    width: 100%;
    padding: 1%;
    box-shadow: 4px 4px 12px 5px rgb(0, 0, 0);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.user-details>.tooltip:hover {
    transform: translateY(-10%);
}