.header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10%;
    padding: 1%;
    display: flex;
    justify-content: space-around;
}

.header>button {
    padding: .5%;
}

.header>button:hover {
    padding: .5%;
    border-radius: 50%;
    box-shadow: 0 0 8px rgb(0, 135, 219);
}