.list {
    padding: 2%;
}

.list>span {
    font-size: large;
    font-weight: 900;
    padding: 1%;
    border-radius: 10%;
    color: rgb(0, 195, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
}